[Unit]
Description=RSI prevention tool
Documentation=https://www.archlinux.org/packages/community/x86_64/workrave/
# This target & it's use documented in systemd.special(7).
After=graphical-session.target
Requires=graphical-session.target
BindsTo=graphical-session.target

[Service]
Type=simple
Environment=LC_ALL=C
ExecStart=/usr/bin/workrave

[Install]
WantedBy=default.target
