[Unit]
Description=RSI prevention tool
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
Environment=LC_ALL=C
ExecStart=/usr/bin/await-env DISPLAY /usr/bin/workrave

[Install]
WantedBy=default.target
